$textNowrap
  text-overflow ellipsis
  white-space nowrap
  overflow hidden

$icon
  font-family 'Material Icons'
  font-weight normal
  font-style normal
  line-height 1
  text-transform none
  letter-spacing normal
  word-wrap normal
  white-space nowrap
  direction ltr
  -webkit-font-smoothing antialiased
  text-rendering optimizeLegibility
  -moz-osx-font-smoothing grayscale
  font-feature-settings 'liga'

$icomoon
  font-weight normal
  font-style normal
  font-size: $font.size * 1.5
  font-family: 'icomoon'
  line-height 1
  text-transform none
  letter-spacing normal
  word-wrap normal
  white-space nowrap
  direction ltr
  -webkit-font-smoothing antialiased
  text-rendering optimizeLegibility
  -moz-osx-font-smoothing grayscale
  font-feature-settings 'liga'

$button
  appearance: none
  box-sizing: content-box
  position: static
  display: inline-block
  width: auto
  height: 1em
  padding: 0
  border: none
  outline: none
  margin: 0
  background: none
  font: getFont()
  letter-spacing: normal
  text-align: center
  text-indent: 0
  text-transform: none
  text-decoration: none
  word-spacing: normal
  word-wrap: normal
  white-space: normal
  direction ltr
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility
  -moz-osx-font-smoothing: grayscale
  font-feature-settings: 'liga', 'kern'
  overflow: visible
  opacity: 1
  user-select: none
  -webkit-tap-highlight-color: transparent
