@font-face {
	font-family: 'PT Root UI';
	src: url('PT%20Root%20UI_Light.eot');
	src:
	     url('PT%20Root%20UI_Light.eot?#iefix') format('embedded-opentype'),
	     url('PT%20Root%20UI_Light.woff2') format('woff2'),
	     url('PT%20Root%20UI_Light.woff') format('woff'),
	     url('PT%20Root%20UI_Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'PT Root UI';
	src: url('PT%20Root%20UI_Regular.eot');
	src:
	     url('PT%20Root%20UI_Regular.eot?#iefix') format('embedded-opentype'),
	     url('PT%20Root%20UI_Regular.woff2') format('woff2'),
	     url('PT%20Root%20UI_Regular.woff') format('woff'),
	     url('PT%20Root%20UI_Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'PT Root UI';
	src: url('PT%20Root%20UI_Medium.eot');
	src:
	     url('PT%20Root%20UI_Medium.eot?#iefix') format('embedded-opentype'),
	     url('PT%20Root%20UI_Medium.woff2') format('woff2'),
	     url('PT%20Root%20UI_Medium.woff') format('woff'),
	     url('PT%20Root%20UI_Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'PT Root UI';
	src: url('PT%20Root%20UI_Bold.eot');
	src:
	     url('PT%20Root%20UI_Bold.eot?#iefix') format('embedded-opentype'),
	     url('PT%20Root%20UI_Bold.woff2') format('woff2'),
	     url('PT%20Root%20UI_Bold.woff') format('woff'),
	     url('PT%20Root%20UI_Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@-ms-viewport {
  width: device-width;
}

scroll(#fff, #999, #666, #fff)
